
.prox {
    color: rgb(9, 121, 173);
}

p {
    color: steelblue;
}

h2 {
    color: royalblue;
    text-align: center;
}
.bloque{
    background-color: cadetblue;
}
.bloque__p2--color{
    color: brown;
}