.mainsob{
    box-sizing: border-box;
    background-color: teal;
    height: 70%;
    width: 100%;
}
.mainsob__box{
    width: 100%;
    height: 20%;
    background-color: tomato;
}
.mainsob__p{
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.mainsob__p--color{
    color: white;

}