$ancho: 720px;
$alto: 200px;

$var1: 100%;
$var2: 50%;

$blue: #4285F4;
$green: #33D374;
$red: darkred;
$black: black;
$white: rgb(10, 5, 5);

$xs: 15px;
$small: 20px;
$med: 40px;
$large: 60px;
$xl: 80px;
