*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@import "maindex";
@import "footer";
@import "header";
@import "maincat";
@import "mainnov";
@import "mainsob";
@import "variables";
@import "maincon";