
.footer {
    height: 100px;
    width: 100%;
    text-align: center;
    margin: 2%;
}

.logos {
    color: mediumvioletred;
}

.footer__h4--font{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.footer__estilo--color{
    color: skyblue;
}